.logo__image {
    width: 10%;
}

.Header__link {
    color: #ffc11e;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header__logo {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    border-top: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
}