* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url('./main_back.png');
    color: #ffffff;
    font-family: 'Lexend Tera', sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}